---
layout: default
permalink: /
---		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		{% include top-nav.html %}
		<div class="top-menu">
			<div class="container">
				<div class="row">
					{% include header-logo.html %}
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<!-- <li class="active"><a href="index.html">Home</a></li> -->
							<li><a href="/work/">Work</a></li>
							<li><a href="/about/">About</a></li>
							<li class="has-dropdown">
								<a href="/services/">Services</a>
								<ul class="dropdown">
									<li><a href="#">Web Design</a></li>
									<li><a href="#">eCommerce</a></li>
									<li><a href="#">Branding</a></li>
									<li><a href="#">API</a></li>
								</ul>
							</li>
							<li><a href="/contact/">Contact</a></li>
							<li class="btn-cta"><a href="#"><span>Login</span></a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/images/img_bg_1.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Working hard is <strong>rewarding</strong></h1>
							<p><a href="#" class="btn btn-primary btn-lg with-arrow">View Our Work</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- How-it-Work Section -->
	{% include how-it-works.html %}
	<!-- End How-it-Work Section -->
	
	<!-- Work Section -->
	{% include main-page-work.html %}
	<!-- End Work Section -->

	<!-- Home Slider -->
	{% include home-slider.html %}
	<!-- End Home Slider -->

	{% include get-started.html %}

	<!-- Footer  -->
	{% include footer.html %}
	<!-- End Footer -->
	</div>