<div id="fh5co-project">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>Our Latest Work</h2>
				<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
			</div>
		</div>
	</div>
	<div class="project-content">
		{% for item in site.data.main-page-work %}
			<div class="col-forth">
				<div class="project animate-box" style="background-image:url(/images/{{item.url}});">
					<a href="#" class="desc">
						<span>{{item.name}}</span>
						<h3>{{item.project}}</h3>
					</a>
				</div>
			</div>
		{% endfor %}
	</div>
</div>