<div class="row animate-box">
	<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
		<h2>Meet Our Team</h2>
		<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
	</div>
</div>
<div class="row">
	{% for item in site.data.team-section %}
		<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
			<div class="fh5co-staff">
				<img src="/images/{{item.url}}" alt="Free HTML5 Templates by gettemplates.co">
				<h3>{{item.name}}</h3>
				<strong class="role">{{item.profile}}</strong>
				<p>{{item.description}}</p>
				{% include team-social-icon.html %}
			</div>
		</div>
	{% endfor %}
</div>